h3.bottom-news { line-height: 20px !important}
.content{
    /* margin-bottom: -30px; */
}
.content .container{
    /*margin-top: 20px;*/
}
.content-news{
	background: white;
	border-radius: 10px;
	padding: 10px;
	color: #333;
}
.author-news{
    position: relative;
	background: white;
	color: #333;
	border-radius: 10px;
	padding: 10px;
}
#content-page .back {
	margin-left: 10px;
	position: relative;
}
#content-page{
    padding-top: 70px;
    padding-top: 70px\9 !important;
   *padding-top: 70px !important;
}
.author-name{
    display: none;
}
.news-desc,.featurette-heading,.bottom-news,.featurette span,.author-news h4,.content-news-title{
    color: #015A82;
}
.news-date{
    color: #999;
}
.popular-wrapper{
    padding-right: 20px;
}
.all-popular-block{
    background: white;
    border-radius: 10px;
    padding: 10px;
    color: #333;
    margin-top: 20px;
    padding: 10px;
}
ul.other-news{
	color: #000 !important;
	list-style-type: none;
}
ul.other-news li:first-child {
	padding-top: 10px;
	border-top: 1px solid #cecece;
	font-family: Arial;
	font-size: 30px;
	font-style: italic;
	margin-bottom: 10px;
	width: 95%;
}
ul.other-news li:nth-child(n+2){
	display: inline; 
	float:left;
	max-width: 150px;
	padding-right: 30px !important;
}
ul.other-news img{
	width: 150px;
	height: 150px;
}
ul.other-news span{
	max-width: 150px;
	text-align: center;
}

ul.other-news .news-date{
	display: none;
}

@media screen and (min-width: 1200px){
    .content-news{
       width: 66.61196581196582% !important;
       width: 66.3%\9 !important;
       *width: 66.3% !important;
    } 
    #right-content-news{
       margin-left: 20px !important;
    }
}
@media screen and (max-width: 767px){
	.author-news{
	    border-radius: 0px 0px 10px 10px;
	}
    .author-news .author-news-info, .author-news .author-news-avatar{
	    display: none;
    }
    .author-name{
        display: block;
        *padding-bottom: 10px;
        padding-bottom: 10px\9;
    }
    .author-name a{
        color: #015A82 !important;
        margin-left: 10px;
        font-weight: bold;
    }
    .content{
        /* margin-bottom: -30px; 
        padding-left: 10px;
        padding-right: 10px;*/
    }
    
    #content-page{
        /* margin-top: 0px !important;
        margin-top: 0px\9 !important;
        *margin-top: 10px !important;
        padding-top: 10px !important;
        padding-top: -10px\9 !important;
       *padding-top: 10px !important; */
    }
    .content-news{
	    border-radius: 10px 10px 0px 0px;
        margin-top: 0px !important;
        /*padding-top: -10px%\9 !important;*/
    }
    .all-popular-block{
       padding: 10px;
       margin-top: 0px;
       *margin-top: 10px;
       margin-top: 10px\9;
       /*margin-top: 0px\0;*/
       position: relative;
       top: 0px;
    }
/* hack css for only IE9 */
:root .all-popular-block{
       margin-top: 0px\9;
    }
	
	ul.other-news{
		margin-top: 100px !important;
	}
	
	ul.other-news li:nth-child(n+2){
		display: block !important; 
		width: 100% !important;
		max-width: 100% !important;
		border-bottom: 1px solid #cecece;
		margin-bottom: 20px;
	}
	ul.other-news li:first-child, ul.other-news li:last-child{
		border: 0px;
	}
	ul.other-news div{		
		position: relative;
	}
	ul.other-news img{
		padding-bottom: 20px;		
		float:left;
		width: 100px;
		height: 100px;
	}
	ul.other-news span{
		padding-top: 30px !important;
	}
	ul.other-news .news-date{
		display: block;
		line-height: 20px;
		white-space: nowrap;
		width: 100% !important;
	}
}