h3.bottom-news { line-height: 20px !important}
.content{
    /* margin-bottom: -30px; */
}
.content .container{
    /*margin-top: 20px;*/
}

.classes .the-fieldset { min-height:360px !important;}
.classes  legend{ margin-bottom: 0px !important;}
.form-horizontal {padding-top: 20px;}
.form-horizontal .the-fieldset {padding-top: 30px; min-height:310px !important;}

.all-popular-block{
    padding: 0px;
}

.form-actions{ margin-top: 50px;}

#Reset {margin-left: 30px;}

.all-popular-block .desc-news{
	width: 120px;
    height: 60px;
    *width: auto;
    width: auto\9;
    *height: auto;
    height: auto\9;
}
.desc-news{
	font-size: 14px;
	text-align: left;
	padding: 5px;	
}

.lastest-block img{
    width: auto;
    height: auto;
    *width: auto;
    width: auto\9;
    *height: auto;
    height: auto\9;
	padding-bottom: 10px;
	margin-left: 40px;
}

.or-seperator  img{
	vertical-align: center;
	margin-top: 40px;
	margin-left: 0px;
}

.content-news{
	background: white;
	border-radius: 10px;
	padding: 10px;
	color: #333;
}
.author-news{
    position: relative;
	background: white;
	color: #333;
	border-radius: 10px;
	padding: 10px;
}
#content-page .back {
	margin-left: 10px;
	position: relative;
}
#content-page{
    padding-top: 70px;
    padding-top: 70px\9 !important;
   *padding-top: 70px !important;
}
.author-name{
    display: none;
}
.news-desc,.featurette-heading,.bottom-news,.featurette span,.author-news h4,.content-news-title{
    color: #015A82;
}
.news-date{
    color: #999;
}
.popular-wrapper{
    padding-right: 20px;
}
.all-popular-block{
    background: white;
    border-radius: 10px;
    padding: 10px;
    color: #333;
    margin-top: 20px;
    padding: 10px;
}
@media screen and (min-width: 1200px){
    .content-news{
       width: 66.61196581196582% !important;
       width: 66.3%\9 !important;
       *width: 66.3% !important;
    } 
    #right-content-news{
       margin-left: 20px !important;
    }
}

@media screen and (max-width: 1200px){
	.lastest-block img{
		margin-left: 15px !important;
	}
	.form-horizontal .form-actions{
		padding-left: 20px !important; 
	}	
	.form-actions{ margin-top: 80px;}	
	.form-horizontal .control-label{
		width: auto  !important;
		margin-left: 20px;
	}
}
@media screen and (max-width: 979px){
	.lastest-block img{
		margin-left: 0px !important;
	}
}
@media screen and (max-width: 767px){
	.author-news{
	    border-radius: 0px 0px 10px 10px;
	}
    .author-news .author-news-info, .author-news .author-news-avatar{
	    display: none;
    }
    .author-name{
        display: block;
        *padding-bottom: 10px;
        padding-bottom: 10px\9;
    }
    .author-name a{
        color: #015A82 !important;
        margin-left: 10px;
        font-weight: bold;
    }
    .content{
        /* margin-bottom: -30px; 
        padding-left: 10px;
        padding-right: 10px;*/
    }
    
    #content-page{
        /* margin-top: 0px !important;
        margin-top: 0px\9 !important;
        *margin-top: 10px !important;
        padding-top: 10px !important;
        padding-top: -10px\9 !important;
       *padding-top: 10px !important; */
    }
    .content-news1{
	    border-radius: 10px 10px 0px 0px;
        margin-top: 0px !important;
        /*padding-top: -10px%\9 !important;*/
    }
    .all-popular-block{
       padding: 10px;
       margin-top: 0px;
       *margin-top: 10px;
       margin-top: 10px\9;
       /*margin-top: 0px\0;*/
       position: relative;
       top: 0px;
    }
	/* hack css for only IE9 */
	:root .all-popular-block{
	       margin-top: 0px\9;
	    }
    
	.desc-news{
		display: block  !important;
		text-align: center  !important;
	}

	.form-horizontal .the-fieldset , .classes .the-fieldset{
		padding-top: 30px;
		 min-height: 0px !important; 
	}
	#Save{
		margin-left: 20px;
		margin-bottom: 15px;
	}
	.or-seperator{
		position: relative;
		min-height: 40px !important;
	}
	.box-seperator{
		height: 30px;
		margin-left: 50px !important;
		display: block;
		position: absolute;
		top: 10px;
		left: 200px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}