.modal-backdrop1 , .modal-white{
	background-color: #eee;
	 z-index: 9999; 
	 width: 30% !important;
	margin-top: 45%;
	margin-left: 10%;
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
	opacity: 0;
	filter: alpha(opacity=0);
}

.tutor-title{
	position: absolute;
	display: block;
	top: 35px;
	left: 25px;
	font-weight: bold;
	font-size: 30px;
}

.subject-title{
	font-weight: bold;
	font-size: 30px;
}

#TeachableInClass, #TeachableSubjects, #TeachableDistricts{
	min-width: 100px;
	margin-right: 0px !important;
}

#districts-modal, #subjects-modal, #grades-modal {
	height: 15px;
	width: 10px;
	padding: 5px;
	margin-left: 10px !important;
	margin-bottom: 10px;
}